/* .icon {
    position: relative;
    top: -44px;
    left: 4px;
}

.standup_btn {
    position: relative;
    top: -125px;
    left: -15px;
} */

.icon {
    position: relative;
    top: 4px;
    left: -72px;
    
}

.standup_btn {
    position: relative;
    top: -30px;
    left: -130px;
    
}
