.header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  background-color: #fffffe;
  border-bottom: #094067 1px solid;
  width: 100%;
  padding-bottom: 0;
  z-index: 2;
}

.icon {
  width: 13vw; /*330px*/
  height: auto;
  margin-right: 12vw;
}

.centerText {
  color: #094067;
  font-family: "Baskerville Old Face";
  text-align: center;
  width: 40%; 
  margin: auto;
}

.centerTextTop {
  margin: 0;
  font-size: 3vw;
}

.centerTextBottom {
  margin: 0;
  font-size: 1.5vw;
}

.end {
  width: 25vw;
}

.menuGroup {
  display: flex;
  padding: 0;
  margin-top: 1vw;
  margin-left: auto;
  margin-right: auto;
}

.right {
  color: #094067;
  font-family: "Baskerville Old Face";
  font-size: 1.5vw;
}

.appIntro {
  cursor: pointer;
}

.funcIntro {
  cursor: pointer;
}

.login {
  cursor: pointer;
}
